.btn-container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: start;
    justify-content: flex-start;
}
.form-control mat-form-field{
    width: 100%;
    small{
        color: red;
    }
}
.add-investment-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}