<div class="modal-container">
    <ng-container *ngIf="data.isEditMode==false && data.isDeleteInfo==false">
        <h2 mat-dialog-title>Add Expense</h2>
        <mat-dialog-content>
            
            <ng-container *ngIf="isConfirmedAndModify==false">
                <form [formGroup]="addInvestmentForm" class="add-investment-form">
                    <div class="form-control">
                        <mat-form-field appearance="fill">
                            <mat-label>Asset Type</mat-label>
                            <mat-select formControlName="assetType" required>
                                <mat-option *ngFor="let type of assetTypeList"
                                    [value]="type.value">{{type.label}}</mat-option>
                            </mat-select>
                            <mat-hint
                                *ngIf="addInvestmentForm.get('assetType')?.touched && addInvestmentForm.get('assetType')?.invalid">
                                <small *ngIf="addInvestmentForm.get('assetType')?.errors?.['required']">Asset Type is
                                    mandatory.</small>
                            </mat-hint>
                        </mat-form-field>
                    </div>
    
                    <div class="form-control">
                        <mat-form-field appearance="fill">
                            <mat-label>Asset Name</mat-label>
                            <input matInput placeholder="Asset name" type="text" required formControlName="assetName">
                            <mat-hint
                                *ngIf="addInvestmentForm.get('assetName')?.touched && addInvestmentForm.get('assetName')?.invalid">
                                <small *ngIf="addInvestmentForm.get('assetName')?.errors?.['required']">Asset name is
                                    mandatory.</small>
                                <small *ngIf="addInvestmentForm.get('assetName')?.errors?.['minlength']">Please enter valid
                                    asset name</small>
                            </mat-hint>
                        </mat-form-field>
                    </div>
    
                    <div class="form-control">
                        <mat-form-field appearance="fill">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="Price" type="number" required formControlName="price">
                            <mat-hint
                                *ngIf="addInvestmentForm.get('price')?.touched && addInvestmentForm.get('price')?.invalid">
                                <small *ngIf="addInvestmentForm.get('price')?.errors?.['required']">Price is
                                    mandatory.</small>
                                <small *ngIf="addInvestmentForm.get('price')?.errors?.['min']">
                                    Minimum Price should be Greater than or Equal to 1</small>
                            </mat-hint>
                        </mat-form-field>
                    </div>
    
                    <div class="form-control">
                        <mat-form-field appearance="fill">
                            <mat-label>Quantity</mat-label>
                            <input matInput placeholder="Quantity" type="number" required formControlName="quantity">
                            <mat-hint
                                *ngIf="addInvestmentForm.get('quantity')?.touched && addInvestmentForm.get('quantity')?.invalid">
                                <small *ngIf="addInvestmentForm.get('quantity')?.errors?.['required']">Quantity is
                                    mandatory.</small>
                                <small *ngIf="addInvestmentForm.get('quantity')?.errors?.['min']">
                                    Minimum Quantity should be Greater than or Equal to 1</small>
                            </mat-hint>
                        </mat-form-field>
                    </div>
    
                    <div class="form-control">
                        <mat-form-field appearance="fill">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date">
                            <mat-hint
                                *ngIf="addInvestmentForm.get('date')?.touched && addInvestmentForm.get('date')?.invalid">
                                <small *ngIf="addInvestmentForm.get('date')?.errors?.['required']">Date is
                                    mandatory.</small>
                                    
                            </mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
    
                    <div class="form-control btn-container">
                        <button mat-raised-button color="primary" [disabled]="addInvestmentForm.invalid"
                            (click)="changeModifyStatus()">Add
                            Investment</button>
                        <button mat-raised-button color="secondary" (click)="closeDialog()">Cancel</button>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="isConfirmedAndModify==true">
                <p>Please confirm below investment details for addition?</p>
                <p>Name : <strong>{{addInvestmentForm.value?.assetName}}</strong></p>
                <p>Type : <strong>{{addInvestmentForm.value?.assetType}}</strong></p>
                <p>Quantity : <strong>{{addInvestmentForm.value?.quantity}}</strong></p>
                <p>Price : <strong>{{addInvestmentForm.value?.price}}</strong></p>
                <p>Date : <strong>{{addInvestmentForm.value?.price}}</strong></p>
                <div class="form-control btn-container">
                    <button mat-raised-button color="primary" (click)="addInvestment()">Confirm</button>
                    <button mat-raised-button color="secondary" (click)="closeDialog()">Cancel</button>
                </div>
            </ng-container>
        </mat-dialog-content>
    </ng-container>
    <ng-container *ngIf="data.isEditMode==true">
        <h2 mat-dialog-title>Edit Expense({{data?.investment?.assetName}})</h2>
        <mat-dialog-content>
           <ng-container *ngIf="isConfirmedAndModify==false">
            <form [formGroup]="addInvestmentForm" class="add-investment-form">
                <div class="form-control">
                    <mat-form-field appearance="fill">
                        <mat-label>Asset Type</mat-label>
                        <mat-select formControlName="assetType" required>
                            <mat-option *ngFor="let type of assetTypeList"
                                [value]="type.value">{{type.label}}</mat-option>
                        </mat-select>
                        <mat-hint
                            *ngIf="addInvestmentForm.get('assetType')?.touched && addInvestmentForm.get('assetType')?.invalid">
                            <small *ngIf="addInvestmentForm.get('assetType')?.errors?.['required']">Asset Type is
                                mandatory.</small>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-control">
                    <mat-form-field appearance="fill">
                        <mat-label>Asset Name</mat-label>
                        <input matInput placeholder="Asset name" type="text" required formControlName="assetName">
                        <mat-hint
                            *ngIf="addInvestmentForm.get('assetName')?.touched && addInvestmentForm.get('assetName')?.invalid">
                            <small *ngIf="addInvestmentForm.get('assetName')?.errors?.['required']">Asset name is
                                mandatory.</small>
                            <small *ngIf="addInvestmentForm.get('assetName')?.errors?.['minlength']">Please enter valid
                                asset name</small>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-control">
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Price" type="number" required formControlName="price">
                        <mat-hint
                            *ngIf="addInvestmentForm.get('price')?.touched && addInvestmentForm.get('price')?.invalid">
                            <small *ngIf="addInvestmentForm.get('price')?.errors?.['required']">Price is
                                mandatory.</small>
                            <small *ngIf="addInvestmentForm.get('price')?.errors?.['min']">
                                Minimum Price should be Greater than or Equal to 1</small>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-control">
                    <mat-form-field appearance="fill">
                        <mat-label>Quantity</mat-label>
                        <input matInput placeholder="Quantity" type="number" required formControlName="quantity">
                        <mat-hint
                            *ngIf="addInvestmentForm.get('quantity')?.touched && addInvestmentForm.get('quantity')?.invalid">
                            <small *ngIf="addInvestmentForm.get('quantity')?.errors?.['required']">Quantity is
                                mandatory.</small>
                            <small *ngIf="addInvestmentForm.get('quantity')?.errors?.['min']">
                                Minimum Quantity should be Greater than or Equal to 1</small>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="form-control">
                    <mat-form-field appearance="fill">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-hint
                            *ngIf="addInvestmentForm.get('date')?.touched && addInvestmentForm.get('date')?.invalid">
                            <small *ngIf="addInvestmentForm.get('date')?.errors?.['required']">Date is
                                mandatory.</small>
                        </mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-control btn-container">
                    <button mat-raised-button color="primary" [disabled]="addInvestmentForm.invalid"
                        (click)="changeModifyStatus()">Update
                        Investment</button>
                    <button mat-raised-button color="secondary" (click)="closeDialog()">Cancel</button>
                </div>
            </form>
           </ng-container>
           <ng-container *ngIf="isConfirmedAndModify==true">
            <p *ngIf="data.isEditMode==false">Please confirm below updated investment details here.</p>
            <p>Please confirm below investment details for addition?</p>
            <p>Name : <strong>{{addInvestmentForm.value?.assetName}}</strong></p>
            <p>Type : <strong>{{addInvestmentForm.value?.assetType}}</strong></p>
            <p>Quantity : <strong>{{addInvestmentForm.value?.quantity}}</strong></p>
            <p>Price : <strong>{{addInvestmentForm.value?.price}}</strong></p>
            <p>Date : <strong>{{addInvestmentForm.value?.date | date:'short'}}</strong></p>
            <div class="form-control btn-container">
                <button mat-raised-button color="primary" (click)="updateInvestment()">Confirm</button>
                <button mat-raised-button color="secondary" (click)="closeDialog()">Cancel</button>
            </div>
        </ng-container>
        </mat-dialog-content>
    </ng-container>
    <ng-container *ngIf="data.isDeleteInfo==true">
        <h2 mat-dialog-title>Delete Investment?</h2>
        <mat-dialog-content>
            <p>Are you sure you want to delete this investment?</p>
            <p>Name : <strong>{{data.investment?.assetName}}</strong></p>
            <p>Quantity : <strong>{{data.investment?.quantity}}</strong></p>
            <p>Price : <strong>{{data.investment?.price}}</strong></p>
            <div class="form-control btn-container">
                <button mat-raised-button color="warn" (click)="deleteInvestment()">Delete</button>
                <button mat-raised-button color="secondary" (click)="closeDialog()">Cancel</button>
            </div>
        </mat-dialog-content>
    </ng-container>
</div>